@import url(//fonts.googleapis.com/css?family=open+sans);
body {
    font-family: 'open sans', sans-serif;
    background-color: #fff;
}

header {
	margin: 10px auto;
	background-color: #848f96;
	border: 1px solid #848f96;
	box-shadow: 0 0 30px #777;
	text-align: center;
}
header img {
    width: 200px;
}
header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    color: #4d9de0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.motto {
    vertical-align: middle;
    margin: 10px;
}
.nav {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #848f96;
    text-align: center;
    color: #4d9de0;

}

ul {
    list-style: none;
}

a {
    color: #80ecff;
}