

header {
	margin: 10px auto;
	background-color: #fff;
	border: 1px solid #848f96;
	box-shadow: 0 0 30px #777;
	text-align: center;
}
header img {
    width: 200px;
}
header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    color: #4d9de0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.nav {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #848f96;
    text-align: center;
    color: #4d9de0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
	background-color: #fff;
}

