@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, sans-serif;

}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #d9ded9;
    width: 20%;
    height: 50%;
    text-align: center;
    vertical-align: center;
    padding: 5px;
}
tfoot {
    font-size: 10px;
}
tfoot>tr>td {
    background-color: #7fb9c2;
}

tr:nth-child(odd) {
    background-color:#e7f0ed;
}
tr:nth-child(even) {
    background-color:#e7ffed;
}

.secondheading {
    background-color:#628ca6;
    color: white;
}
th:first-child {
    background-color: #7fb9c2; 
    line-height:30px;  
}


.novsalesgoal {
    background-color:#628ca6
}