@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, sans-serif;

}

.acme {
    
}
tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}