
@media (min-width: 600px) and (max-width: 799px) {
    .nav a {
        float: none;
       /* width: 100%;*/
    }

    header {
        vertical-align: middle;
        text-align: center;

    }
    .mainheading {
        font-size: 30px;
    }
    .motto {
        font-size: 20px;
    }
    
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: inline;
    }

    .navigation {
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav li {
        float: left;
        /*flex: 1 1 auto;*/
    }

    nav li a {
        text-align: center;
        padding: .6rem 1rem;
    } 

    nav ul.navigation {
        display: block;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
    }
    
div img {
    float: none;
    width: 100%;
    margin: 0 0 0 2%;
    box-shadow: 0 0 30px #777;
}

article img {
    float: right;
    clear: right;
    width: 75%;
    margin: 10px 30px;
    box-shadow: 0 0 30px #777;
}

table, td, th {
    border: 1px solid black;
}

.container{
    display: flex;
    flex-flow: column;
    text-align: center;
    box-sizing:border-box;
    margin: 1rem auto; 
    max-width: 80%;
    color: black;
    border-collapse: collapse;
    /*width: 180px;
    margin-left: auto;
    margin-right: auto;*/
    
}

th {
    height: 50px;
    width: 30px;
    background-color: #4d9ee0c0;
    padding: .25em;
}
 td {
     
     height: 40px;
     width: 30px;
 }

 td image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
 }

.forecast {
    display: inline;
    font-size: 1.5em;
    color: black;
}
.colorrun {
    float: left;
}


.templeinfo {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.missionarypics {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px 5px 20px 5px;
    box-shadow: 0 0 15px #887974;
    grid-gap: .5px;
    align-items: center;
    background-color: #ebf6f2;
}

.templearticle {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    margin: 0px 5px 20px 5px;
    box-shadow: 0 0 15px #887974;
    flex-direction: row;
}

.servicesarticle {
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 15px #887974;
    margin: 10px;
    overflow: hidden;
}

.contact{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 5px 20px 5px;
    box-shadow: 0 0 15px #887974;
    border: 5px solid #3d535d;
    border-radius: 1rem;
    flex-direction: row-reverse;
}

}