
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swapLinks');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swapLinks');

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}
/*--------------header--------------*/

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    
}
header img {
    flex:auto;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0;
}

.headings {
	display: inline-block;
	vertical-align: center;
    margin: 10px;
    color: #3d535d;
    font-family: 'Vollkorn', serif;
    text-align: left;
}
/*--------------navigation bar---------------*/
nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
nav li a {
    display: block;
    color: #ebf6f2;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}


.active {
    background-color: #99c9c9;
    color:#ebf6f2;
}

.nav {
    display: flex;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    background-color: #3d535d;
    border: 1px solid black;
    text-align: center;
    

}
.navigation {
    list-style:none;
    text-align:center;
    flex-direction: column;
}
.navigation li {
    display:none;
}
.navigation li:first-child {
    display:block;
}


nav li a:hover {
    background-color: #99c9c9;
    color: #ebf6f2;
}
.responsive li {
    display: block;
}

/* ---------main section---------- */

.main {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}
/*---------banner section----------*/
.herodiv {
    position: relative;
    width: 100%;
}

article img {
    float: none;
    width: 50%;
    margin: 20px 50px;
    border-radius: .5rem;
    
}

.templearticle {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin: 0px 5px 20px 5px;
    box-shadow: 0 0 15px #887974;
    flex-direction: column;
}

.templeimage {
    box-shadow: 0 0 30px #887974;
}

.clearfix:after {
    content:"";
    display:table;
    clear: both;
}


/*----------CONTACT US PAGE--------*/
form fieldset {
    display: flex;
    margin: 2rem 0;
    border: 5px solid #3d535d;
    border-radius: 25px 10px;
    padding: .5rem 2%;
    background-color: #ebf6f2;
}
form legend {
    color: #3d535d;;
    margin:0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:#887974;
    font-size: .8rem;

}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display:block;
    font-size: 1rem;
    border: solid 1px #3d535d;
    border-radius: 4px;
    padding: .75rem;
    color: #3d535d;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.bottom {
    display:block;
    padding:.75rem 0;
    color: #3d535d;
} 

form input.submit {
    border: 1px solid #3d535d;
    background-color: #99c9c9;
    color: #3d535d;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0 2rem 0;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border: red solid 1px;
}

form label.top input:required:valid {
    border: black solid 1px;
}
#ratingvalue {
    margin-left: 5px;
}

.templeinfo {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
}

.templeinfo figure >img {
    max-width: 300px;
    width: 100%;
    border-radius: .5rem;

}

#Logan, #StarValley, #BrighamCity, #Ogden {
    box-shadow: 0 0 30px #887974;
    background-color: #ebf6f2;
    border: 3px solid #3d535d;
    border-radius: 5px 10px;
    padding: 0 10px 0 10px;
    margin: 2em 2em;
    text-align: center;
}

footer iframe {
    max-width: 180px;
    max-height: 180px;
    border: 1px solid #3d535d;
}

.address {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #99c9c9;
    padding: 1em;
}

.copyright {
    display: grid;
    justify-content: left;
    background-color: #3d535d;
    padding: 1em;
    color: #f5c47b;
    margin: 0;
}

.link {
    color:#f5c47b;
}

.social {
    width: 15px;
    box-shadow: 0 0 30px #fff;

}

.intro {
    float: left;
    padding-left: 5px;
}

.credit {
    display: flex;

}

.reserve {
    font-size: 26px;
    color: #3d535d;
    font-weight: bold;
    font-family: 'Volkorn', serif;
}

.button {
    background-color: #3d535d;
    font-size: 22px;
    padding: 10px 10px;
    border: 2px solid #887974;
    display: flex;
    max-height: 100px;
    align-items: center;
    margin: 15px 0 0 40px;
    border-radius: 1rem;
}

.servicesarticle {
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    box-shadow: 0 0 15px #887974;
    margin: 10px;
    overflow: hidden;
}

.specialimage {
    float: right;
    clear: right;
    width: 50%;
    margin: 20px 50px;
    box-shadow: 0 0 30px #887974;
}

.servicebutton {
    background-color: #3d535d;
    font-size: 22px;
    color: #f5c47b;
    padding: 10px 10px;
    border: 2px solid #887974;
    display: flex;
    max-height: 100px;
    align-items: center;
    margin: auto;
    border-radius: 1rem;
}

.missionarypics {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 5px 20px 5px;
    box-shadow: 0 0 15px #887974;
    grid-gap: .5px;
    align-items: center;
    background-color: #ebf6f2;
    margin: auto;
}

span img {
    border-radius: .5rem;
}

.contact{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 5px 20px 5px;
    box-shadow: 0 0 15px #887974;
    border: 5px solid #3d535d;
    border-radius: 1rem;
    flex-direction: row-reverse;
}

article iframe {
    max-width: 180px;
    max-height: 180px;
    border: 1px solid #3d535d;
    border-radius: .5rem;   
}

main div p {
    font-size: 16px;
    font-weight: bold;
}