
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swapLinks');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swapLinks');

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}
/*--------------header--------------*/

.header {
    width: 100%;
    display: flex;
    justify-content: center;
	box-shadow: 0 0 30px #887974;
    text-align: center;
    font-size: 14px;
    
}
header img {
    flex:auto;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0;
    box-shadow: 0 0 30px #887974;
}

.headings {
	display: inline-block;
	vertical-align: center;
    margin: 10px;
    color: #3d535d;
    font-family: 'Vollkorn', serif;
    text-align: left;
}
/*--------------navigation bar---------------*/
nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
nav li a {
    display: block;
    color: #ebf6f2;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}


.active {
    background-color: #99c9c9;
    color:#ebf6f2;
}

.nav {
    display: flex;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    background-color: #3d535d;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 30px #887974;

}
.navigation {
    list-style:none;
    text-align:center;
    flex-direction: column;
}
.navigation li {
    display:none;
}
.navigation li:first-child {
    display:block;
}


nav li a:hover {
    background-color: #99c9c9;
    color: #ebf6f2;
}
.responsive li {
    display: block;
}

/* ---------main section---------- */

.main {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}
/*---------banner section----------*/
.herodiv {
    position: relative;
    width: 100%
}

article img {
    float: none;
    width: 50%;
    margin: 10px;
    box-shadow: 0 0 30px #887974;
}

.templearticle {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 30 px #887974;
    margin: 0px 5px 20px 5px;
}

.clearfix:after {
    content:"";
    display:table;
    clear: both;
}

figcaption {
    text-align: center;
    font-size: 1rem;
}
.gallery {
    display:grid;
    grid-template-rows: repeat(6, 5fr);
    grid-auto-columns: 200px;
    grid-auto-rows: 180px;
    column-gap: 2px;
    row-gap: 2px;
    margin: 5px 0 75px 0;

}

/*----------CONTACT US PAGE--------*/
form fieldset {
    margin: 2rem 0;
    border: 3px solid #3d535d;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #99c9c9;
    margin:0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:#887974;
    font-size: .8rem;

}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display:block;
    font-size: 1rem;
    border: solid 1px #3d535d;
    border-radius: 4px;
    padding: .75rem;
    color: #3d535d;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.bottom {
    display:block;
    padding:.75rem 0;
    color: #3d535d;
} 

form input.submit {
    border: none;
    background-color: #99c9c9;
    color: #3d535d;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border: red solid 1px;
}

form label.top input:required:valid {
    border: black solid 1px;
}
#ratingvalue {
    margin-left: 5px;
}

.cityinfo {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
}

.cityinfo figure >img {
    max-width: 300px;
    width: 100%;

}

#Logan, #StarValley, #Brigham {
    box-shadow: 0 0 30px #777;
    background-color: #4d9ee0c0;
    border: 3px solid #555;
    border-radius: 5px 10px;
    padding: 0 10px 0 10px;
    margin: 2em 2em;
    text-align: center;
}

footer iframe {
    max-width: 180px;
    max-height: 180px;
}

.address {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #99c9c9;
    padding: 2em;
    max-height: 50%;
}

.copyright {
    display: grid;
    justify-content: left;
    background-color: #3d535d;
    padding: 2em;
    color: #f5c47b;
    margin: 0;
}

.link {
    color:#f5c47b;
}

.social {
    width: 15px;
    box-shadow: 0 0 30px #fff;

}

.intro {
    float: left;
    padding-left: 5px;
}

.eventsbox {
    display: table;
    border: 2px solid #4d9ee0c0;
    padding-left: 400px;
    padding-right: 400px;
    box-shadow: 0 0 20px #777;
    margin: 100px 30px 100px;
}

.credit {
    display: flex;

}

.intro {
    display: flex;
    flex-direction: column;
}