
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swapLinks to an external site.');
body {
    font-family: 'open sans', sans-serif;
    background-color: #fff;
}

.mainheading {
    text-align: right;
    color:white;
    display: inline-block;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mottoheading {
    text-align: right;
    color: black;
    display: inline-block;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

header {
	background-color: #848f96;
	border: 1px solid #848f96;
	box-shadow: 0 0 30px #777;
	text-align: center;
}
header img {
    float: left;
    width: 80%;
    margin: 10px;
    box-shadow: 0 0 30px #777;
}

.headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    color: #4d9de0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
/*.motto {
    vertical-align: middle;
    text-align: center;
}*/
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: #848f96;
}

.active {
    background-color:#4caf50;
    color:#848f96;
}

.nav {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 10px;
    background-color: hsl(204, 5%, 39%);
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 30px #777;

}

section img {
    float: none;
    width: 50%;
    margin: 10px;
    box-shadow: 0 0 30px #777;
}

article img {
    float: none;
    width: 90%;
    margin: 10px;
    box-shadow: 0 0 30px #777;
}
